.filter {
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 94%;
}

.filter label {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.filter button {
  background-color: rgb(89, 40, 145);
  padding: 0.3rem 0.3rem;
  border: 1px solid rgb(0, 0, 0);
}

.filter button:hover {
  background-color: rgba(89, 40, 145, 0.644);
}

.actions {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.filter input {
  font: inherit;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  margin: 0;
  width: 4rem;

}

.filter-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0rem 0.5rem 0rem;
  align-items: center;
}
